@mixin text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: hsl(212, 45%, 89%);
}

#card {
    background-color: hsl(0, 0%, 100%);
    width: clamp(0pc, 90%, 300px);
    max-height: 90%;
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 40px 30px 2px #00000015;

    /* Hack to center div without flexbox */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #qr-code {
        margin: 0;
        max-width: 100%;
        border-radius: 10px;
    }

    h1 {
        @include text();
        color: hsl(218, 44%, 22%);
        font-weight: 700;
    }

    p {
        @include text();
        color: hsl(220, 15%, 55%);
        font-size: 15px;
    }
}